h1 {
    font-size: 60px;
}
body {
    margin: 0;

    .wraper {
        border: 1px solid red;
    
        header {
            // border: 1px solid blue;
            height: 300px;
            background-image: url(/img/lego-background-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            h1 {
                // border: 1px solid green;
                font-family: monospace;
                color: white;
                text-shadow: 2px 2px 5px black;
            }
        }
    }

    .conten-01 {
        background-color: rgba(255, 0, 0, 0.248);
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}
